<html>
	<head>
		<title>Resume Builder</title>
		<link rel="stylesheet" href="/resources/finishedresume.css" media="all">	
	</head>
	<body>
		<p id="name">
			{{name}}
		</p>
		<p id="jobtitle">
			{{jobtitle}}
		</p> 
		<p id="contactinfo"> 
			{{phonenumber}} - {{email}} - {{personalwebsite}} 
		</p>
		<p id="propro"> 
			{{professionalprofile}}
		</p>

		<div class="lines">
			<p id="SKILLS" class="subcats">
				SKILLS ~</p>
			
			<div>
				{% for s in skillnames %}
				<p id="skill" class="subsub"> 
					<span class="subnames">{{ s }}:</span> {{ skilldes[loop.index0] }} 
				</p>
				{% endfor %}
			</div>
			
		</div>

		<div class="lines">
			<p id="Experience" class="subcats">
				EXPERIENCE ~ </p>

			<div>
				{% for p in pastjobs %}
				<p name="Experience" class="subsub"> 
					<span class="subnames">{{ p }}:</span> {{ pastjobdes[loop.index0] }}
				</p>
				{% endfor %}
			</div>
		</div>

		<div class="lines">
			<p class="subcats">
				EDUCATION ~
			</p>
			<div>

				{% for d in degrees %}
				<p class="subsub"> 
					<span class="subnames">{{ d }}:</span> {{ schools[loop.index0] }}
				</p>
				{% endfor %}
			</div>
		</div>

	</body>
</html>


