#name{
	font-family: "Times New Roman" ,Times, serif;
	font-size: 37px;

}	
#jobtitle{
	font-family: "Times New Roman", Times, serif;
	font-size: 19px;
	
}
#phonenumber{
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
}
#dpp{
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
}